[user]
  name = Adam Hollett
  email = mail@adamhollett.com

[core]
  editor = nano
	autocrlf = input

[fetch]
  prune = true

[pull]
	rebase = false

[rebase]
  autoStash = true

[gc]
	writeCommitGraph = true

[protocol]
	version = 2

[help]
  # If autocorrect comes up with only one suggestion, automatically run it after
  # a delay (in decaseconds)
  autoCorrect = 20

[include]
  path = ~/dotfiles/git/aliases

# Include Shopify git config if the path include "shopify"
[includeIf "gitdir/i:**/shopify/**"]
  path = ~/dotfiles/git/shopify

[diff]
  algorithm = patience
