[user]
  name = Adam Hollett
  email = mail@adamhollett.com

[core]
  editor = nano
	autocrlf = input

[fetch]
  prune = true

[rebase]
  autoStash = true

[help]
  # If autocorrect comes up with only one suggestion, automatically run it after
  # a delay (in decaseconds)
  autoCorrect = 20

[include]
  path = ~/dotfiles/git/aliases

[includeIf "gitdir/i:**/shopify/**"]
  path = ~/dotfiles/git/shopify

[diff]
  algorithm = patience
